
<html>
<head>
<title>COMPS381F 2018 Miniproject</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
	<h1>Create New Restaurant</h1>

				<h3>Please enter some information</h3>


					<form action="/new" method="post" encType="multipart/form-data">
            <div>
						<input type="number" name="restaurant_id" placeholder="Restaurant_Id" >
            </div>
            <div>
            <input type="text" name="name" placeholder="Name" required="">
            </div>
            <div>
            <input type="text" name="borough" placeholder="Borough" >
            </div>
            <div>
            <input type="text" name="cuisine" placeholder="Cuisine">
            </div>
            <div>
            <input type="text" name="street" placeholder="Street" >
            </div>
            <div>
            <input type="text" name="building" placeholder="Building" >
            </div>
            <div>
            <input type="number" name="zipcode" placeholder="Zipcode" >
            </div>
            <div>
            <input type="float" name="latitude" placeholder="Gps latitude" >
            </div>
            <div>
            <input type="float" name="longtitude" placeholder="Gps longtitude" >
            </div>
		        <input type="file" name="rtPhoto" accept="image/*" onchange="loadImageFileAsURL()">
		            <div class="input-margin"></div>
						<input type="submit" value="Create">
					</form>



</body>
</html>
