<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<h1>Create New Restaurant</h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->
		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>

				<div class="login-form">
					<form action="/new" method="post" encType="multipart/form-data">
            <div>
						<input type="number" name="restaurant_id" placeholder="Restaurant_Id" >
            </div>
            <div>
            <input type="text" name="name" placeholder="Name" required="">
            </div>
            <div>
            <input type="text" name="borough" placeholder="Borough" >
            </div>
            <div>
            <input type="text" name="cuisine" placeholder="Cuisine">
            </div>
            <div>
            <input type="text" name="photo" placeholder="Photo" >
            </div>
            <div>
            <input type="text" name="photo_mimetype" placeholder="Photo mimetype" >
            </div>
            <div>
            <input type="text" name="street" placeholder="Street" >
            </div>
            <div>
            <input type="text" name="building" placeholder="Building" >
            </div>
            <div>
            <input type="number" name="zipcode" placeholder="Zipcode" >
            </div>
            <div>
            <input type="number" name="latitude" placeholder="Gps latitude" >
            </div>
            <div>
            <input type="number" name="longtitude" placeholder="Gps longtitude" >
            </div>
						<div class="form-group input-margin">
		            <input type="file" name="rtPhoto" accept="image/*" onchange="loadImageFileAsURL()">
		            <div class="input-margin"></div>
		        </div>
						<input type="submit" value="REGISTER">
					</form>
				</div>
				<p><a href="#"> By clicking register, I agree to your terms</a></p>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>
	<div class="copyright">
		<p> &copy; 2016 Register Login Widget . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>
</body>
</html>
